.container{
    background-color: lightblue;
    right: 100%;
    width:100%;
    height:auto;
    background-size: cover;
    min-width: 100%;
}
.perfil{
    border-radius: 50%;
    position: relative;
    bottom: 100px;
}
.banner{
    border-radius: 15px;
    min-width: 100%;
}
.info{
    box-sizing: border-box;
}
.descripcionPer{
    text-align: center;
}
#titulo1{
    text-decoration: underline;
    text-align: right;
}
#titulo2{
    text-decoration: underline;
}